body{
    background-color: #DDD8CA;
    font-family: Fraunces;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3B4427;
    color: white;

}

.navbar .navbar-left{
    padding-left: 8px;
    cursor: pointer;
}

.navbar .navbar-middle {
    display: flex;
    gap: 32px;
    cursor: pointer;
}

.navbar a:hover {
    color: #C8D6AF;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar .navbar-right {
    display: flex;
    gap: 16px;
    padding-right: 8px;
    cursor: pointer;
}

.navbar-right input {
    border-radius: 12px;
}